<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录-网易考拉海购</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/Less/login.css">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript">
		function login(){
			var username = $('#username').val(),password = $('#password').val();
			var data = { "uname": username, "upwd":password};
			$.ajax({
				url:'/login',
				type:'POST',
				data:data,
				success:function(data,status){
					if(status == 'success'){
						location.href='/';
					}
				},
				error:function(data,status){
					if(status == "error"){
						location.href='login'
					}
				}
			});
		}
    </script>
</head>
<body>
<header id="header-wrap">
    <div id="header">
        <div class="left"><a href="/"><img src="/images/login1-1.png"/></a></div>
        <div class="right"><img src="/images/login1-2.jpg"/></div>
    </div>
</header>
<section id="content-wrap">
    <div id="content">
        <div class="left"><img src="/images/login2-1.png"/></div>
        <div class="right">
            <div class="right-left">
                <form action="#" method="post">
                    <h3>登录网易邮箱账号</h3>
                    <label><input id="username" type="text"/></label>
                    <label><input id="password" type="password"/></label>
                    <label class="cbx">
                        <input type="checkbox"/>
                        <span>十天内免登陆</span>
                        <i>忘记密码</i>
                    </label>
                    <label><input class="sub" type="button" onclick="login()" value="登录"/></label>
                    <div class="email">
                        <span>没有网易邮箱？</span>
                        <i>立即免费注册>></i>
                    </div>
                </form>
                <div class="account">
                    <span>使用第三方账号登录</span>
                    <a href="#"><i></i></a>
                    <a href="#"><i></i></a>
                    <a href="#"><i></i></a>
                    <a href="#"><i></i></a>
                </div>
            </div>
            <div class="code">
                <a href="#"><img src="/images/login2-2.jpg"/></a>
            </div>
        </div>
    </div>
</section>
<footer id="footer-wrap">
    <div id="footer">
        <ul>
            <li><a href="#">AboutNetEase</a></li>
            <li><a href="#">公司简介</a></li>
            <li><a href="#"> 联系方法 </a></li>
            <li><a href="#"> 友情链接</a></li>
            <li><a href="#">招聘信息</a></li>
            <li><a href="#"> 客户服务 </a></li>
            <li><a href="#"> 隐私政策 </a></li>
            <li><a href="#"> 网络营销 </a></li>
            <li><a href="#"> 网站地图 </a></li>
            <li><a href="#">网易考拉海购</a></li>
        </ul>
        <div class="f2">
            <span>网络文化经营许可证:浙网文[2016]0155-055号</span>
            <span>增值电信业务经营许可证：浙B2-20090185-3</span>
            <span>出版物经营许可证:新出发浙杭经零字第00136号</span>
        </div>
        <div class="f3">
            <img src="/images/login3-1.png"/>
            <span>浙公网安备 33010002000066号</span>
            <span>网易公司版权所有©1997-2017</span>
        </div>
        <div class="f4">
            <img src="/images/login3-2.png" />
            <img src="/images/login3-3.gif" />
        </div>
    </div>
</footer>
</body>
</html>