html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  outline: none;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: red;
  text-decoration: none;
}
#top-wrap,
#search-wrap,
#nav-wrap,
#banner-wrap,
#goods-wrap,
#footer-wrap {
  width: 100%;
}
#top,
#search,
#nav,
#goods,
#footer {
  width: 1090px;
  margin: 0 auto;
}
/*top start*/
#top-wrap {
  height: 31px;
  line-height: 31px;
  background: #f2f2f2;
  border-bottom: 1px solid #ededee;
}
#top-wrap #top {
  color: #666;
}
#top-wrap #top #top-left {
  float: left;
}
#top-wrap #top #top-left a {
  padding-left: 10px;
}
#top-wrap #top #top-md {
  margin-left: 20px;
  float: left;
}
#top-wrap #top #top-right {
  float: right;
}
#top-wrap #top #top-right li {
  float: left;
}
#top-wrap #top #top-right li a {
  padding: 0 10px;
  border-left: 1px solid #ccc;
}
/*#search-wrap{
  height:100px;
  background: #fff;
  & #search{
    & #logo{
      width:220px;
      height:42px;
      display: block;
      float:left;
      margin:29px 0;
    }
    & #search-md{
      float:left;
      & #search-box{
        width:458px;
        height:36px;
        margin:32px 200px;
        border:2px solid #000000;
        & input{
          width:350px;
          height:28px;
          display: block;
          float: left;
          margin:4px 0;
          border:0;
        }
        & span{
          width:36px;
          height:36px;
          display: block;
          float:right;
          background: #000000;
        }
      }
    }
    & #car{
      width:110px;
      height:36px;
      margin:32px 0;
      display: block;
      float:right;
      border:1px solid #ccc;
      border-radius: 5px;
      & span{
        line-height:36px;
      }
    }
  }
}*/
/*search start*/
#search-wrap #search {
  height: 120px;
  display: flex;
  justify-content: space-around;
}
#search-wrap #search .left {
  flex: 1;
}
#search-wrap #search .left img {
  margin-top: 20px;
}
#search-wrap #search .middle {
  flex: 3;
  text-align: center;
}
#search-wrap #search .middle input {
  width: 400px;
  height: 40px;
  border: 3px solid #000;
  padding-left: 10px;
}
#search-wrap #search .middle span {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #000;
  position: relative;
  top: 15px;
}
#search-wrap #search .middle ul {
  display: block;
  margin-left: 105px;
}
#search-wrap #search .middle ul li {
  float: left;
}
#search-wrap #search .middle ul li a {
  width: 50px;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  border-left: 1px solid #ccc;
  text-align: center;
}
#search-wrap #search .middle ul li a:hover {
  text-decoration: underline;
}
#search-wrap #search .right {
  flex: 1;
}
/*nav start*/
#nav-wrap {
  height: 33px;
  background: #fff;
  border-bottom: 3px solid #000;
}
#nav-wrap #nav ul {
  width: 1000px;
  height: 33px;
}
#nav-wrap #nav ul li {
  width: 100px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  float: left;
}
#nav-wrap #nav ul li:nth-child(1) {
  width: 160px;
  background: #000;
  color: #fff;
}
#nav-wrap #nav ul li a {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
/*banner start*/
#banner-wrap {
  background: #f6f6f6;
  height: 400px;
  position: relative;
}
#banner-wrap #banner {
  margin: 0 auto;
  z-index: 0;
  position: relative;
}
#banner-wrap #banner img {
  width: 100%;
  height: 100%;
}
#banner-wrap #banner #nav2-box {
  width: 1420px;
  height: 400px;
  position: absolute;
  border: 1px solid #ccc;
  top: 0;
  left: 83px;
}
#banner-wrap #banner #nav2-box #nav2-left {
  width: 160px;
  height: 400px;
  float: left;
  background: rgba(15, 15, 15, 0.82);
}
#banner-wrap #banner #nav2-box #nav2-left li {
  width: 160px;
  height: 39px;
  border-bottom: 1px solid #fff;
}
#banner-wrap #banner #nav2-box #nav-right {
  float: left;
}
#banner-wrap #banner-nav {
  width: 1090px;
  height: 400px;
  z-index: 100;
  margin: 0 auto;
  position: relative;
  top: -400px;
  background: rgba(0, 0, 0, 0);
}
#banner-wrap #banner-nav li {
  width: 160px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);
}
#banner-wrap #banner-nav li a {
  width: 90%;
  height: 40px;
  display: block;
  margin: 0 auto;
  line-height: 40px;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #cbccc1;
  /* &:hover {
          background: rgba(0, 0, 0, .5);
        }*/
}
#banner-wrap #banner-nav li a span {
  color: #fff;
  padding-right: 5px;
}
#banner-wrap #banner-nav li .tab {
  width: 930px;
  height: 400px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #fff;
  color: #000000;
  position: absolute;
  display: none;
  top: 0;
  left: 160px;
}
#banner-wrap #banner-nav li .tab .left,
#banner-wrap #banner-nav li .tab .middle,
#banner-wrap #banner-nav li .tab .right {
  width: 300px;
  height: 380px;
  padding: 10px 10px;
  display: block;
  float: left;
}
#banner-wrap #banner-nav li .tab .left dt,
#banner-wrap #banner-nav li .tab .middle dt,
#banner-wrap #banner-nav li .tab .right dt {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ccc;
}
#banner-wrap #banner-nav li .tab .left dl,
#banner-wrap #banner-nav li .tab .middle dl,
#banner-wrap #banner-nav li .tab .right dl {
  width: 300px;
  height: 8px;
}
#banner-wrap #banner-nav li .tab .left dl a,
#banner-wrap #banner-nav li .tab .middle dl a,
#banner-wrap #banner-nav li .tab .right dl a {
  width: 50px;
  height: 8px;
  padding: 0 5px;
  color: #000;
  display: inline;
  border-bottom: 0;
}
#banner-wrap #banner-nav li .tab .left dl a:hover,
#banner-wrap #banner-nav li .tab .middle dl a:hover,
#banner-wrap #banner-nav li .tab .right dl a:hover {
  width: 50px;
  height: 8px;
  padding: 0 5px;
  border: 0;
  background: #fff;
  color: red;
  display: inline;
}
#banner-wrap #banner-nav li .tab .left dl .red,
#banner-wrap #banner-nav li .tab .middle dl .red,
#banner-wrap #banner-nav li .tab .right dl .red {
  color: red;
}
#banner-wrap #banner-nav li .tab .left dl a + a,
#banner-wrap #banner-nav li .tab .middle dl a + a,
#banner-wrap #banner-nav li .tab .right dl a + a {
  border-left: 1px solid #ccc;
}
#banner-wrap #banner-nav li .tab .left dl a + a:hover,
#banner-wrap #banner-nav li .tab .middle dl a + a:hover,
#banner-wrap #banner-nav li .tab .right dl a + a:hover {
  border-left: 1px solid #ccc;
}
#banner-wrap #banner-nav .select {
  border-left: 5px solid red;
  background: rgba(0, 0, 0, 0.5);
}
/*goods start*/
#goods-wrap {
  background: #fff;
}
#goods-wrap #goods {
  position: relative;
}
#goods-wrap #goods .goods-title1 {
  border-bottom: 2px solid #000000;
}
#goods-wrap #goods .goods-title2 {
  height: 50px;
}
#goods-wrap #goods .goods-title2 h3 {
  float: left;
  margin-right: 50px;
}
#goods-wrap #goods .goods-title2 ul {
  float: left;
  width: 80%;
  position: relative;
  top: 20px;
  font-size: 20px;
}
#goods-wrap #goods .goods-title2 ul span {
  float: left;
}
#goods-wrap #goods .goods-title2 ul li {
  float: left;
}
#goods-wrap #goods .goods-title2 ul li:last-of-type {
  float: right;
}
#goods-wrap #goods .goods-title2 ul li a {
  padding: 0 10px;
}
#goods-wrap #goods .goods-title2 ul li a.red {
  color: red;
}
#goods-wrap #goods .goods-title2 ul li + li a {
  border-left: 1px solid #ccc;
}
#goods-wrap #goods .goods-content2 {
  margin-top: 10px;
}
#goods-wrap #goods .goods-content3 {
  margin-top: 10px;
}
#goods-wrap #goods .goods-content3 .row {
  margin: 0;
  padding: 0;
}
#goods-wrap #goods #aside-left {
  width: 100px;
  height: 600px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 100px;
  left: -100px;
}
#goods-wrap #goods #aside-left ul li {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#goods-wrap #goods #aside-left ul li:nth-of-type(1) {
  border-bottom: 1px solid #ccc;
  height: 60px;
}
#goods-wrap #goods #aside-left ul li:nth-of-type(2) {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
#goods-wrap #goods #aside-left ul li:nth-of-type(3) {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
#goods-wrap #goods #aside-left ul li:nth-of-type(4) {
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
#goods-wrap #goods #aside-left ul li:nth-last-child(1) {
  border-top: 1px solid #ccc;
  height: 150px;
}
#goods-wrap #goods #aside-left ul li a img {
  width: 100%;
  height: 100%;
}
#goods-wrap #goods #aside-right {
  width: 100px;
  height: 350px;
  position: absolute;
  top: 100px;
  right: -100px;
  background: #fff;
  border: 1px solid #ccc;
}
/*footer start*/
#footer-wrap {
  background: #333;
}
